@charset "utf-8"; /****   Developed by http://www.freetimelearning.com/    *****/
* {
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  margin: 0px;
}
.main {
  width: 1300px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.3) !important;
  margin-bottom: 20px;
}
.clearfix {
  clear: both;
}

/*********** Start Header (or) Menu **********/
.header {
  width: 1300px;
  height: 100px;
  float: left;
  border-top: 2px solid #0099da;
  border-bottom: 2px solid #0099da;
  background: #fff;
}
.header-left {
  width: 250px;
  float: left;
  padding-top: 15px;
}
.header-right {
  width: 1050px;
  float: left;
  padding-top: 10px;
}
.header-right-top {
  width: 550px;
  height: 35px;
  float: left;
  padding-left: 500px;
  margin: 0;
}
.header-right-top ul {
  list-style: none;
  float: left;
  margin: 5px 20px;
}
.header-right-top ul li {
  float: left;
  padding: 0px 10px;
}
.header-right-top ul li a {
  font-size: 12px;
  text-decoration: none;
  background: #0099da;
  color: #fff;
  padding: 8px 10px;
  border-radius: 100px;
  text-align: center;
}
.header-right-top ul li a:hover {
  background: #069;
  color: #fff;
}
.form {
  height: 30px;
  padding: 0px 10px;
  float: left;
  border: 1px solid #0099da;
  border-radius: 2px;
}
.header-right-bottom {
  width: 1050px;
  height: 40px;
  float: left;
}
.header-right-bottom ul {
  list-style: none;
  margin: 0px;
  padding-left: 100px;
}
.header-right-bottom ul li {
  list-style: none;
  font-family: arial;
  font-size: 14px;
  padding: 10px 0px 5px;
  margin: 5px 0px;
  float: left;
  font-weight: bold;
}
.header-right-bottom ul li a {
  padding: 5px 28px 10px;
  margin: 2px 0px 5px;
  text-decoration: none;
  color: #000;
}
.header-right-bottom ul li a:hover {
  color: #0099dd;
}
/*********** End Header (or) Menu **********/

/************* Start Slider (or) Banner *************/
.slider {
  width: 1300px;
  background: url(../images/slider-bg.jpg);
  height: 300px;
  float: left;
}
.slider-h3 {
  font-size: 30px;
  padding: 100px 0px 0px 100px;
  color: #000;
  text-shadow: 1px 0.5px #ccc;
}
.btn {
  background: #0099da;
  color: #fff;
  padding: 9px 20px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 3px;
  text-shadow: none;
}
.btn:hover {
  background: #0080c0;
}
/************** End Slider (or) Banner *************/

/*************** Start Banner Bottom *****************/
.slider-bottom {
  width: 1300px;
  float: left;
}
.slider-bottom-parts {
  width: 350px;
  float: left;
  padding: 20px 41px;
  background: #0099da;
  border-right: 2px #fff solid;
}
.slider-bottom-parts-h3 {
  color: #fff;
  padding: 20px 0px 10px;
  text-align: center;
  font-size: 20px;
}
.slider-bottom-parts-p {
  color: #fff;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
}
/*************** End Banner Bottom *****************/

/*************** Start Content *****************/
.content {
  width: 1300px;
  float: left;
  padding-bottom: 20px;
}
.content-left {
  width: 950px;
  height: auto;
  float: left;
}
.content-left-top {
  width: 950px;
  float: left;
}
.content-left-top-left {
  width: 430px;
  float: left;
  padding: 20px 10px;
}
.content-header-h3 {
  font-size: 28px;
  padding: 15px 0px;
  color: #0099da;
}
.content-left-top-right {
  width: 500px;
  float: left;
  padding-top: 60px;
}
.content-left-top-right-p {
  font-size: 14px;
  float: left;
  padding: 15px 0px 0px 20px;
  text-align: justify;
  color: #000;
  line-height: 26px;
}
.content-left-bottom {
  width: 950px;
  float: left;
}
.content-left-bottom-parts {
  width: 280px;
  float: left;
  padding: 0px 20px 0px 15px;
}
.content-left-bottom-parts p {
  line-height: 26px;
  font-size: 14px;
  text-align: justify;
}
.content-right {
  width: 330px;
  height: auto;
  float: left;
  padding: 20px 0px 0px 20px;
}
.content-right-top {
  width: 330px;
  float: left;
}
.content-right-top-left {
  width: 100px;
  float: left;
  padding: 0px 0px 10px;
}
.content-right-top-right {
  width: 210px;
  float: left;
}
.content-date {
  color: #0099da;
  font-style: italic;
  font-size: 13px;
  padding: 0px 10px 10px;
}
.content-right-p {
  padding: 0px 10px 10px;
  font-size: 12px;
  text-align: justify;
}
.content-right-bottom {
  width: 330px;
  float: left;
}
.my_form {
  border-radius: 2px;
  border: 1px solid #0099da;
  margin: 5px auto;
  height: 30px;
  width: 280px;
  padding: 0px 10px;
}
.form-textarea {
  border-radius: 2px;
  border: 1px solid #0099da;
  margin: 5px auto;
  width: 280px;
  padding: 0px 10px;
}

.content-header {
  color: #000;
  font-size: 26px;
  text-align: center;
  padding: 25px 10px 15px;
}
.content-header a {
  color: #0099dd;
  text-decoration: none;
}
.content-header a:hover {
  color: #069;
}

.content-bottom-boxes {
  width: 300px;
  float: left;
  padding: 0px 20px;
  color: #000;
}
.content-bottom-bg {
  background: #ebebeb;
  float: left;
  padding: 20px 15px;
}
.content-bottom-bg-header {
  font-size: 18px;
  padding-bottom: 15px;
}
.content-bottom-bg-p {
  line-height: 24px;
}
/************ End Content **************/

/************ Start Footer *****************/
.footer {
  width: 1300px;
  float: left;
  background: #333;
}
.footer-parts {
  width: 300px;
  float: left;
  padding: 0px 10px;
}
.footer-parts-h4 {
  font-size: 18px;
  padding: 15px 10px 0px;
  color: #fff;
}
.footer-parts ul {
  list-style: none;
  padding: 0px;
}
.footer-parts ul li {
  list-style: none;
  font-size: 12px;
  padding: 5px;
  margin: 5px 0px;
  font-weight: bold;
}
.footer-parts ul li a {
  padding: 8px 10px;
  margin: 2px 0px;
  text-decoration: none;
  color: #ccc;
}
.footer-parts ul li a:hover {
  color: #fff;
}
.copyrights {
  width: 1240px;
  font-size: 12px;
  background: #000;
  float: left;
  padding: 15px 30px 15px 30px;
  color: #fff;
}
.copyrights-left {
  width: 940px;
  float: left;
}
.copyrights-left a {
  color: #fff;
  text-decoration: none;
}
.copyrights-left a:hover {
  color: #ccc;
}
.copyrights-right {
  width: 300px;
  float: left;
  text-align: right;
}
.copyrights-right a {
  color: #fff;
  text-decoration: none;
}
.copyrights-right a:hover {
  color: #ccc;
}
.fa {
  color: #fff;
}
/*************** End Footer ***********/

/************ Start Blog *****************/
.blog {
  width: 1300px;
  float: left;
}

.conteudo {
  width: 600px;
  padding: 15px;
  padding-bottom: 20px;
  margin: 15px auto;
  background: #fff;
  border: 1px solid #dedede;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
  -moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
  box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
}

.conteudo img {
  min-width: 650px;
  margin: 0 0 25px -25px;
  max-width: 650px;
}

.conteudo .gambar {
  min-width: 150px;
  margin: 0 0 25px 0px;
  max-width: 150px;
}

/*************** End Blog ***********/

/*************** Daftar ***********/
.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  background-color: #a0d0f0;
  cursor: pointer;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
/*************** End Daftar ***********/

/*************** Kontak ***********/

#fcf-form {
  display:block;
}

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}
/*************** End Kontak ***********/